
table {
    width: 250px;
    margin:auto;
    border-collapse: collapse;
    border: 2px solid ;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, tr {
    border: 1px solid ;
    padding: 5px 5px;
  }
    
  td {
    
    text-align: center;
  }
  
  td:nth-child(odd)  {
    background-color: rgb(182, 182, 182);
  }
  
  .color1{
      color: blue;
  }
  .color2{
      color: blueviolet;
  }
  .color3{
    color: brown;
  }
  .color4{
      color: chartreuse;
  }
  .color5{
      color: crimson;
  }
  .color6{
      color: darkgreen;
  }
  .color7{
      color: darkorange;
  }
  .color8{
    color: deeppink;
  }
  .color9{
      color: gold;
  }
  